/* css variables for theming */
:root {
  --main-bg-color: #fff8e7;
  --alt-bg-color: rgba(255, 255, 255, 0.954);
  --main-font-color: #ffffff;
  --alt-font-color: rgba(0, 0, 0, 0.85);
  --alt-font-color-light: rgba(0, 0, 0, 0.68);
  --theme-primary: rgb(74, 199, 81);
  --box-shadow: 2px 2px 7px -1px rgba(0, 0, 0, 0.75);
}

body.dark-mode {
  --main-bg-color: rgb(0, 0, 0);
  --alt-bg-color: rgb(89, 89, 89);
  --main-font-color: #000000;
  --alt-font-color: rgba(255, 255, 255, 0.85);
  --alt-font-color-light: rgba(227, 227, 227, 0.68);
  --theme-primary: #7965dc;
}

/* mini reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* layout */
body {
  font-family: Lato, "Helvetica Neue", Helvetica, sans-serif;
  color: var(--alt-font-color);
  font-size: 14px;
  transition: all 0.2s;
  background-color: var(--main-bg-color);
}

/* menu */
#menu {
  padding: 0.5rem;
  background-color: var(--theme-primary);
  color: #ffffff;
}

.toggle-switch {
  position: fixed;
  top: 0;
  right: 0;
  margin: 0.5rem;
}

.toggle-switch input {
  display: none;
}

.toggle-switch label {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: var(--alt-bg-color);
  border-radius: 20px;
}

.toggle-switch label::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--alt-font-color);
  top: 1px;
  left: 1px;
  transition: all 0.3s;
}

.toggle-switch input:checked + label::after {
  left: 20px;
}

.toggle-switch input:checked + label {
  background-color: var(--alt-bg-color);
}

/* main */
main {
  padding: 2rem;
}

/* forms */
.form {
  margin: 0 auto;
  max-width: 400px;
  background-color: var(--alt-bg-color);
  padding: 1em;
  box-shadow: var(--box-shadow);
}

.form input,
.form textarea {
  width: 100%;
  border: 1px solid rgba(34, 36, 38, 0.15);
  padding: 0.5em 1em;
  margin: 1em 0 0.25em;
}

.form input[type="submit"] {
  margin: 1em 0 0 0;
  width: auto;
}

/* buttons */
.button {
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 0.75em 1.5em;
  transition: opacity 0.2s ease;
}

.button:hover {
  opacity: 0.8;
}

/* cards */
.cards {
  margin: 0 auto;
  max-width: 1200px;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  list-style: none;
}

.card {
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
  background-color: var(--alt-bg-color);
  animation: enter 0.25s ease-out;
  box-shadow: var(--box-shadow);
}

@keyframes enter {
  0% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

.card .image {
  position: relative;
}

.card .image img {
  width: 100%;
  height: 100%;
}

.card .image .delete-button {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
}

.card .content {
  padding: 1rem 0.5rem;
}

.card .title {
  font-weight: 700;
  font-size: 1.1em;
  margin-bottom: 0.5rem;
}

.card .description {
  color: var(--alt-font-color-light);
}

.card .donations {
  font-style: italic;
}

.card .donate-button {
  background-color: var(--theme-primary);
  color: var(--alt-font-color);
  width: 100%;
}
